################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EvAldarado.sln
/EvAldarado/EvAldarado.csproj
