@model LoginViewModel

@section Styles{
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background: #f4f4f4;
            color: #333;
        }

        .password-container {
            position: relative;
            display: flex;
            align-items: center;
        }

        .login-input {
            flex: 1 0 auto;
            margin-right: -30px; /* pull the eye icon inside the input field */
        }

        .toggle-password {
            cursor: pointer;
            color: #333;
            position: absolute;
            right: 10px; /* Adjust based on your layout */
        }

            .toggle-password i {
                color: #666; /* Icon color */
            }



        .login-container {
            background: #ffffff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: box-shadow 0.3s ease-in-out;
            margin: 100px auto;
            width: 400px;
        }

            .login-container:hover {
                box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* Subtle shadow effect on hover */
            }

        .login-input, button, .g-signin2 {
            border: none;
            padding: 10px;
            margin: 10px 0;
            display: block;
            width: 100%;
            border-radius: 5px;
        }

        .login-input {
            background: #e8e8e8;
            color: #333;
        }

            .login-input:focus {
                background: #ffffff;
                box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
            }

        button {
            background-color: #4CAF50;
            color: white;
            font-weight: bold;
            cursor: pointer;
        }

            button:hover {
                background-color: #45a049; /* Slightly darker shade on hover */
            }

        .g-signin2 {
            width: 100%;
            height: 50px;
            border-radius: 5px;
        }

            .g-signin2 > div {
                margin: 0 auto;
                width: 100% !important;
            }
    </style>
    }

    <div class="login-container">
        <h2 style="text-align: center; color: #333;">Login Form</h2>

    <form asp-controller="Account" asp-action="LoginI" method="post">
        @Html.AntiForgeryToken()

        <label for="uname"><b>Email</b></label>
            <input asp-for="Email" placeholder="Enter Email" required class="login-input">
        <label for="psw"><b>Password</b></label>
        <div class="password-container">
            <input asp-for="Password" type="password" placeholder="Enter Password" required class="login-input" id="password">
            <span class="toggle-password" onclick="togglePasswordVisibility()">
                <i class="fa fa-eye" id="toggleEye"></i>
            </span>
        </div>

            <label><input type="checkbox" name="remember"> Remember Me</label>

            <button type="submit">Login</button>

                    <a asp-controller="Account" asp-action="ForgotPassword" action="display: block; text-align: right; margin-bottom: 10px;">Forgot your password?</a>

        </form>

@*         <h2 style="text-align: center; color: #333;">Or</h2>

        <div class="g-signin2" data-onsuccess="onSignIn"></div> *@
    </div>


  @section Scripts{
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId());
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail());

            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
        }
    </script> *

    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('password');
            var toggleEye = document.getElementById('toggleEye');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                toggleEye.classList.remove('fa-eye');
                toggleEye.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                toggleEye.classList.remove('fa-eye-slash');
                toggleEye.classList.add('fa-eye');
            }
        }

    </script>


    }
    
